body {
    background-image: url("bg.jpg");
}
h1 {
    color: rgb(126, 26, 26); 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 80px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    text-align: center; 

    
}

.activePlay {
    
    display: flex;
    justify-content: space-evenly;

    
}

.plays {
    margin-top: 30px;
    height: 150px;
    width: 150px;
    background-size: large;
    background-color: aqua;
    color: white;
}

#vs {
    color: white;
    font-size: 100px;
    margin-top: 20px;

}